.login-page {
  background: linear-gradient(to bottom, #41197f 55%, white 45%);
  height: 800px;
}

.logo {
  margin-bottom: 25px;
  margin-top: 80px;
  width: 100%;
}

.tomato {
  height: 279px;
  width: 100%;
}

.login-form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.login-form p {
  color: #41197f;
  font-family: Epilogue , sans-serif;
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
  letter-spacing: 3.3px;
  line-height: normal;
  margin-top: 0;
  text-align: center;
  text-transform: uppercase;
}

.login-inputs {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.login-inputs input {
  border: 0.5px solid #41197f;
  border-radius: 5px;
  box-sizing: border-box;
  color: #41197f;
  font-family: Epilogue , sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  height: 40px;
  line-height: normal;
  padding-left: 15px;
  width: 276px;
}

.login-inputs input::placeholder {
  color: #41197f;
}

.login-inputs button {
  background: #fcc436;
  border: none;
  border-radius: 5px;
  color: white;
  font-family: Epilogue , sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  height: 40px;
  letter-spacing: 0.42px;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  width: 276px;
}

.login-form .warning {
  color: #41197f;
  font-family: Epilogue , sans-serif;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.36px;
  margin-top: 10px;
  text-align: center;
  text-transform: none;
  width: 276px;
}
